
body{
    background-color: rgb(237, 225, 225);
} 
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}
/* the header section */
header.head
{
    background-color: none ; 
}
h1.nest{
    float:none;
    font-size: 50px;
    text-shadow: 2px 2px 2px dodgerblue;
}
p.nest1{
    float: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px dodgerblue;
}
h3.nest2{
    float: none;
    font-size: 30px;
    text-shadow: 1px 1px 1px dodgerblue;
}
h3 {
    text-shadow: 1px 1px 1px dodgerblue;
}
p.obj{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:maroon;
}
ul.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
p.kin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
p.info1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
li.fia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
p.can{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:midnightblue;
}
li.kin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;

}
/* footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    
} */

footer {
    font-size: 1.1rem;
    background-color: #172035;  
    width: auto;
    border: 1px solid;
    
} 

#footer{
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
}
 
th {
    background-color: maroon;
    color: white;
}
td{
    color: maroon;
}
li.info8{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
hr{
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    width: 100%;

}







